# frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/build/

# backend
backend/node_modules/

# env files
.env
.env.*
frontend/.env*
backend/.env*

# logs
logs
*.log

# misc
.DS_Store
.vscode/
.idea/
coverage/

node_modules/